<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.zjsdk.plugin">

    <application>

        <activity
            android:name=".ZjContentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

    </application>

</manifest>
